*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: "roboto";
    display: flex;
    flex-direction: column; 
}
#header, #footer{
background-color: #1f2937;
}

#header{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left:200px;
    padding-right:200px;
    gap:20px;
    

}

#imgPlace{
    background-color:grey;
    padding: 80px;
    width:400px;
    height: 200px;

}
#headerUpperPart{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 20px;
}




#links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    

}
#headerLowerPart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-between;
    padding-bottom: 80px ;
}
#container{
    display: flex;
    flex-direction: column;
    gap:20px;

}
#para{
    width:250px;
    height: auto;
}
#links{
    display: flex;
    flex-direction: row;
}

#headerLower{
    font-size:48px ;
    color: #f9faf8;
    font-weight: 900;
}

#logo{
    font-size:24px ;
    color: #f9faf8;
    
}

button{
    background-color:#3882f6;
    height: 30px;
    width: 100px;
    border-radius:10px ;
    border: 2px solid #3882f6  ;
    color: #e5e7eb;
    font-weight: 600;
}

#quotePart{
    background-color: #e5e7eb;
    font-size: 36px;
    color:#1f2937;
    font-weight: 300;
    padding: 100px 400px 100px 400px;
}
#author{
    display: flex;
    justify-content: end;
    font-weight: 900;
}

#main{
    display: flex;
    flex-direction: column; 
    align-content: center;
    padding:20px 100px 80px 100px;
    gap: 50px;
    align-items: center;
}

#boxes{
    display: flex;
    flex-direction: row; 
    gap:50px;
}

#boxes .box{
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 130px;

}

.con{
    display: flex;
    flex-direction: column; 
    gap:10px;

}

#boxes p{

    width:130px;
    

}


#adSec{
    padding: 150px 300px 150px 300px;
}
#adBox{
    background-color: #3882f6;
    padding: 50px;
    color: #e5e7eb;
    display: flex;
    align-items: baseline;
}

#adBox button{
border-color: #e5e7eb;
}

#footer{
    padding: 30px;
    color: #e5e7eb;
    display: flex;
    justify-content:center;
}