*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: "roboto";
    display: flex;
    flex-direction: column; 
}
#header, #footer{
background-color: #1f2937;
}

#header{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left:200px;
    padding-right:200px;
    gap:20px;
    

}

#imgPlace{
    background-color:grey;
    padding: 80px;
    width:400px;
    height: 200px;

}
#headerUpperPart{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}




#links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
#headerLowerPart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-between;

}
#container{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 20px ;

}
#para{
    width:250px;
    height: auto;
}
#links{
    display: flex;
    flex-direction: row;
}

#headerLower{
    font-size:48px ;
    color: #f9faf8;
    font-weight: 900;
}

#logo{
    font-size:24px ;
    color: #f9faf8;
    
}

button{
    background-color:#3882f6;
    height: 30px;
    width: 80px;
    border-radius:10px ;
}

#quotePart{
    background-color: #e5e7eb;
    font-size: 36px;
    color:#1f2937;
    font-weight: 300;
}